@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700;900&family=Noto+Sans+KR:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  user-select: none;
  box-sizing: border-box;
}

.box-shadow {
  box-shadow: 2px 3px 0px 1px #bbb;
}

.text-shadow {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.bubble {
  border-radius: 50%;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 10;
}

.circular-text-item {
  position: absolute;
  left: 50%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section2 reveal */
.s2-rv-fs-clamp {
  font-size: clamp(18px, 2vmax, 36px);
}
